body {
  margin: 0;
  padding: 0;
}

.divMain {
  background-color: #38393b;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divAllContent {
  background-image: url("/back.webp");
  background-size: cover; /* или contain */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 80vh;
  border-radius: 10vh;
  border: 2px solid white;
}

.mainLogo {
  width: 60%;
}

.divLogoBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.startBtn {
  width: 45%;
}
