@font-face {
  font-family: "BabyPop";
  src: url("/fonts/BabyPop.otf") format("opentype"); /* Исправлено */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

.divMain {
  background-color: #38393b;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divAllContent {
  background-image: url("/back.webp");
  background-size: cover; /* или contain */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 95vh;
  border-radius: 5vh;
  border: 2px solid white;
}
